.add{
    grid-area: add;
}

.name{
    grid-area: name;
}

.score{
    grid-area: score;
}
.row{
    grid-area: auto;
    display: grid;
    grid-template: 
    
    'add add'
    'name score';
    grid-template-columns: 80% 20%;

}