.per_data {
    
    display: grid;
    grid-template-areas: 
    'name curator occup '
    'prof  nation occup '
    'gender age occup '
    'look look occup';

    grid-template-columns: 30% 30% 40% ;
    grid-template-rows: auto;

}

.look {
    grid-area: look;
}

.name {
    grid-area: name;
}

.curator {
    grid-area: curator;
}

.prof   {
    grid-row: prof;
}

.nation {
    grid-area: nation;
}

.gender {
    grid-area: gender;

    display: grid;
    grid-template-areas: 
    'title title'
    'value value';

    grid-template-columns: 50% 50%;
}

.age {
    grid-row: age;
}

.occup {
    grid-area: occup;
    
}

.occup textarea {
    min-width: 80% ;
    height: 80%;
    width: auto;
}

.occup p {
    margin: 2px;
}