.cell{

    background-color: wheat;
    border: 2px solid black;
}
.cell input[type='text'] {
    background-color: whitesmoke;
    width: 90% ;
    margin: 2px;
}
.cell textarea {
    background-color: whitesmoke;
    width: 95% ;
    margin: 2px;
}

.cell p {
    font-size: 14px;
    margin: 2px;
}

.title {
    grid-area: auto;
    writing-mode: sideways-lr;
    color: white;
    background-color: black;
    
}
.title p {
    margin-bottom: 25%;
    margin-left: 1%;

}

.chsh {
    display: grid;
    grid-template-areas: 
    'tper per per per'
    'tstat stat tpsy psy'
    'tskill sp ap ap'
    'tskill skills skills skills';

    grid-template-columns: 5% 45% 5% 45%;
    grid-template-rows: auto;
    grid-gap: 2px;
}

.patter{
    grid-area: pattern;
}

.skillPoints{
    grid-area: sp;
}
.additionPoints{
    grid-area: ap;
}

.per{
    grid-area: per;
}
.stat {
    grid-area: stat;
}

.psy {
    grid-area: psy;
}

.skills {
    grid-area: skills;
    display: grid;
    grid-template-areas: 
    'skills other';

    
    grid-template-rows: repeat(2,1fr);
    grid-template-rows:  auto;
}

.down {
    width: 200px;
    height: 50px;
    margin-left: 100%;
}

button{
    background-color: rgb(170, 182, 10);
}
