.main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.row {
    display: grid;
    grid-template-areas: auto;

    grid-template-columns: 80% 20%;
}

.row .cell{
    display: grid;
    grid-template-columns: 60% 40%;
    
}