.main {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-rows:  auto;
}

.row {
    display: grid;
    grid-template-areas: auto;

    grid-template-columns: 80% 20%;
}

.row .cell{
    display: grid;
    grid-template-columns: 60% 40%;
     
}



